.nav-link {
    float: right;
}

.navImg {
    height: 30px;
    padding-right:5px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align:center;
    color:rgb(219, 219, 219);
    background-color: rgb(78, 18, 18);
}

a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

#right-info {
    text-align:center;
    float:left;
}

#left-info {
    text-align:center;
    float:left;
}

.close-modal {
    visibility: hidden;
}

.modal-style {
    color:rgb(219, 219, 219);
    text-decoration: none;
}

#modal-close {
    color:black;
}

#SourceLogo {
    background-color: darkgray;
    border-color: black;
    width: auto;
    height: auto;
    text-align: left;
    color: black;
    font-size:20px;
}

.fillerText {
    height:300px;
    color:black;

}

.midPage {
    text-align: center;
    margin-top: 100px;
}

#portfolio-hub {
    padding-top: 100px;
    text-align: center;
}

.portfolio-set {
    display: inline-block;
    text-align: center;
    height: auto;
    width: 1000px;
    background-color: rgb(253, 222, 222);
    

}

.port-info {
    margin-top:5px;
    float: left;
    width: 50%;
    height: auto;
    max-width: 100%;
}

.port-gif {
    float: left;
    width: 50%;
    max-width: 100%;
}

.proj-name {
    font-family: helvetica;
    font-weight: bold;
}

.proj-desc {
    font-family: Arial;
    padding-top: 10px;
    text-align: left;
    margin-left: 10px;
    margin-right:20px;
}

.info-displayed {
    font-family: Arial;
    padding-top: 5px;
    text-align: left;
    margin-left: 10px;
    margin-right:20px;
}

.proj-desc-opposite {
    font-family: Arial;
    padding-top: 10px;
    text-align: left;
    margin-left:20px;
    margin-right: 10px;
}

.info-displayed-opposite {
    font-family: Arial;
    padding-top: 5px;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
}

.github-logo {
    height: 40px;
}

.title-of-assignment {
    text-align: center;
}

#portfolio-hub hr {
    margin-top: 5px;
    margin-bottom: 10px;
    padding:1px;
    background-color:rgb(102, 0, 0);
    border:none;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.proj-img {
    max-width: 100%;
}

body {
    background-image: url("assets/BackgroundPattern.png");
    background-repeat: repeat;
}

#header-Of-Port {
    margin-bottom: 10px;
}

#header-Of-Port h1 {
    font-size: 72px;
    font-weight: bold;
    font-family: Helvetica;
    
}